/**
 * Plugin Installer
 */

.newspack-card {
	.newspack-plugin-installer__status {
		align-items: center;
		display: flex;

		.newspack-checkbox-icon {
			margin-left: 4px;

			svg {
				height: inherit;
				width: inherit;
			}
		}
	}

	&.newspack-plugin-installer__status-active,
	&.newspack-plugin-installer__status-error,
	&.newspack-plugin-installer__status-installing,
	&.newspack-plugin-installer__status-none {
		.newspack-action-card__region-top {
			padding-left: 28px;
		}

		&.is-small {
			.newspack-action-card__region-top {
				padding-left: 20px;
			}
		}
	}

	&.newspack-plugin-installer__status-active {
		box-shadow: inset 4px 0 0 var( --wpds-color-stroke-surface-success-strong, #008030 );
	}

	&.newspack-plugin-installer__status-error {
		box-shadow: inset 4px 0 0 var( --wpds-color-stroke-surface-error-strong, #cc1818 );
	}

	&.newspack-plugin-installer__status-installing,
	&.newspack-plugin-installer__status-none {
		box-shadow: inset 4px 0 0 var( --wpds-color-stroke-surface-neutral-weak, #f0f0f0 );
	}

	// Is Small
	&.is-small {
		.newspack-plugin-installer__status {
			.newspack-checkbox-icon {
				height: 16px;
				width: 16px;
			}
		}
	}
}

.newspack-plugin-installer_is-waiting {
	display: flex;
}
