/**
 * CardFeature
 */

@use "~@wordpress/base-styles/mixins" as wp-mixins;
@use "~@wordpress/base-styles/variables" as wp-vars;
@use "../mixins" as np-mixins;

.newspack-card-feature {
	height: 100%;

	&__actions {
		margin-top: auto;

		.newspack-card-feature__badge {
			flex-shrink: 1;
			min-width: 0;
		}
	}

	&__content {
		flex: 1;
		min-width: 0;
	}

	&__title {
		@include wp-mixins.heading-x-large();

		margin: 0;
	}

	&__description {
		@include np-mixins.text-muted;

		margin: 0;
	}

	&__icon {
		align-items: center;
		display: flex;
		flex: 0 0 wp-vars.$grid-unit-50;
		height: wp-vars.$grid-unit-50;
		justify-content: center;

		svg {
			display: block;
			fill: currentcolor;
			height: wp-vars.$grid-unit-30;
			width: wp-vars.$grid-unit-30;
		}

		&--radius-small {
			border-radius: wp-vars.$radius-small;
		}

		&--radius-full {
			border-radius: wp-vars.$radius-round;
		}
	}

	&.newspack-card-feature--muted &__title {
		@include np-mixins.text-muted;
	}
}
